#parent {
    border: 2px solid blue;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    width: 700px;
    height: 300px;
}

#kid1 {
    border: 2px solid red;
    background: green;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 3;
    -webkit-box-flex: 1;
}

#kid2 {
    border: 2px solid red;
    background: greenyellow;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 1;
    -webkit-box-flex: 1;
}

#kid3 {
    border: 2px solid red;
    background: lawngreen;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 4;
    -webkit-box-flex: 1;
}

#kid4 {
    border: 2px solid red;
    background: darkolivegreen;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 2;
    -webkit-box-flex: 1;
}